{% extends "base.html" %}

{% block content %}

   <div class="bg-gray-200 h-16 flex justify-center items-center">
            {% if user_type == "FREE" and session['logged_in'] %}
                <b>Upgrade your subscription to generate more than 2 years chart</h3></b>
            {% endif %} 
    </div>

    <div class="container mx-auto mt-4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/3" id="generate-chart">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="generate-chart-form"
                      action="{{ url_for('generate_chart') }}" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="symbol">
                            Input your symbol:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="symbol" type="text" name="symbol" x-model="symbol"
                               value="{{ symbol or default_symbol }}">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="short">
                            Short moving average:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="short" type="number" name="short" x-model="short"
                               value="{{ short or default_short }}">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="long">
                            Long moving average:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="long" type="number" name="long" x-model="long" value="{{ long or default_long }}">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="start_date">
                            Start Date
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="start_date" type="date" x-model="start_date" value="{{ start_date }}">

                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="end_date">
                            End Date
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="end_date" type="date" x-model="end_date" value="{{ end_date }}">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="long">
                            Transaction costs (bps)
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="transaction_costs" type="number" name="transaction_costs" x-model="long"
                               value="{{ transaction_costs or default_transaction_costs }}">
                    </div>
                {% if session['logged_in'] %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4 bg-blue-500 text-white px-4 py-2 rounded"
                                id='generate-chart-button'>Generate chart
                        </button>
                    </div>
                {% endif %}

                </form>
                <div>
                    <h1 class="font-semibold text-gray-900 strong">Note</h1>
                    <h2>ASX format: CBA.AX</h2>
                    <h2>FX format: AUDUSD=X</h2>
                    <h2>Cryptocurrency format: BTC-USD</h2>
                </div>
            </div>

            {% if ticker_error %}
                <div class="alert alert-danger bg-red-500 text-white p-4 rounded" role="alert">
                    {{ ticker_error }}
                </div>
            {% endif %}


            <div class="w-full md:w-2/3 flex flex-col items-center pl-4">
                <div class="w-full text-center py-4">
                    <div id="chart-container" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="w-full text-center py-4">
                    <div class="flex flex-col items-center">
                        <div id="chart-container-2" style="width: 100%"></div>
                        <div id="table-container" style="width:80%" class="right">
                            {{ table_html|safe }}
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    </div>
    </div>





{% endblock %}

