{% extends "base.html" %}
{% block content %}


    <div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
        <div class="w-full max-w-sm space-y-10">
            <div>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">User Profile

                    <account></account>
                </h2>
            </div>
                <div class="relative -space-y-px rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-0 z-10 rounded-md ring-1 ring-inset ring-gray-300"></div>
                    <div>
                        <label for="email-address" class="sr-only">Current Username:</label>
                        <input id="email-address" name="text"  value="{{user_email}}" type="text" autocomplete="email"class="ml-2 relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="" disabled>
                    </div>
                    <div>
                        <label for="password" class="sr-only">Current Plan:</label>
                        <input id="password" name="text" value="{{user_type}} PLAN" type="text" autocomplete="current-password" class="ml-2 relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="" disabled>
                    </div>
                    <div>
                    </div>
                </div>
              {% if user_type == "PREMIUM" %}
                    <div>
                    <form method="POST" action="{{ url_for('cancel_subscription') }}">
                        <button type="submit" 
                                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Sign out from subscription
                        </button>
                    </form>
                    </div>
               {%  else  %}
                   <div>
                        <button type="submit" id="submitBtn"
                         class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Subscribe
                        </button>
                    </div>
                {%  endif  %}
                <div>
                </div>
        </div>
    </div>

{% endblock %}